# Compiled source #
###################
*.dll
*.exe
*.o
*.so
*.tlog
*.obj
*.pdb
*.db
*.opendb
*.ilk
*.log
*.idb

# Packages #
*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip

# Solution files #
*.sln
*.vcxproj
*.suo